*{
    margin: 0px;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center; 
    
}

.nav_logo_container{
    width: 50px;
    height: 100px;
}
 
.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.border{
    height: 50px;
    width: 100px;
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
    transition: 0.5s;
}