*{
    margin: 0;
    padding: 0;
    font-family: "gilroy";
    box-sizing: border-box;
}

html,body {

    width: 100%;
    height: 100%;
}

.main-container {
    width: 100%;
    height: 100%;
}

.top {
    width: 100%;
    height: 60%;
    background-image: url(https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: bottom;
}

.overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.text{
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20%;
    width: 100%;
    padding: 0 10vw;
    color: white;
}

.text-right {
    width: 60%;
    display: flex;
    align-items: center ;
    justify-content: space-between;

}

.text-right p{
    font-size:12px;
    width: 40%;
}

.text h1 {
    font-weight: 600;
    font-size: 6vw;

}

.bottom {
    width: 100%;
    height: 40%;
    background-color: #6312de;
    display: flex;
}

.b1{
    width: 25%;
    height: 100%;
    background-color: #fff;
}

.b2{
    width: 25%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1519692933481-e162a57d6721?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    
}

.b3{
    width: 20%;
    height: 100%;
    
}

.b3-top {
    width: 100%;
    height: 50%;
    background-color: orangered;
}

.b3-bottom {
    width: 100%;
    height: 50%;
    background-image: url(https://images.unsplash.com/photo-1538998073820-4dfa76300194?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}


.b4{
    width: 30%;
    height: 100%;
    background-color: #00ff26;
}